[
{
<volist name="tree" id="list">
    "id": "{$list.id}",
    "text": "{$list.title}",
    "data": {
        'text':'{$list.title}',
        'name': '{$list.name}',
        'addTitle':'添加',
        'addUrl': '{:U('add?pid='.$list['id'])}',
        'ediTitle': '编辑',
        'editUrl':'{:U('edit?id='.$list['id'].'&pid='.$list['pid'])}',
        'statusTitle': '{$list.status|show_status_op}',
        'statusUrl':'{:U('setStatus?ids='.$list['id'].'&status='.abs(1-$list['status']))}',
        'statusClass': 'ajax-get',
        'removeTitle':'删除',
        'removeUrl': '{:U('remove?id='.$list['id'])}',
        'removeClass': 'confirm ajax-get',
        'moveTitle': '移动','moveUrl':'{:U('operate?type=move&from='.$list['id'])}',
        'mergeTitle': '合并',
        'mergeUrl':'{:U('operate?type=merge&from='.$list['id'])}'
    },

    <notempty name="list['_']">"children":{:R('Category/tree', array('tree'=>$list['_']))}</notempty>
</volist>
}
]

