[
{
<php>$authed_group = $tree['authed_group'];</php>
<volist name="tree['group_list']" id="list">
        "id": "{$list.id}",
        "name": "{$list.name}",
        "text": "{$list.title}",
        <if condition="in_array($list['id'],explode(',',$authed_group))">
            "state": {
            "selected": true
            },
        </if>

        <notempty name="list['_']">
            "children":{:R('AuthManager/tree', array(array('group_list'=>$list['_'],'authed_group'=>$authed_group)))}
        </notempty>
</volist>
}
]