<extend name="Public/base"/>

<block name="body">



	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet box grey-cascade">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-globe"></i>导航管理
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse">
						</a>

					</div>
				</div>
				<div class="portlet-body">
					<div class="table-toolbar">
						<div class="row">
							<div class="col-md-6 cf">
								<div class="fl">
									<button class="btn green " url="{:U('add','pid='.$pid)}" id="add-channel">新 增</button>
									<button class="btn green ajax-post confirm" url="{:U('del')}" target-form="ids">删 除</button>
									<button class="btn green list_sort" url="{:U('sort',array('pid'=>I('get.pid',0)),'')}">排序</button>
								</div>
							</div>
						</div>
					</div>
					<table class="table table-striped table-bordered table-hover" id="dataTables-channel"><!-- 必须设定表格的id == -->
						<thead>
						<tr class="table-checkbox">
							<th class="row-selected">
								<input type="checkbox" class="group-checkable" data-set="#dataTables-channel .checkboxes"/>

							</th>
							<th>ID</th>
							<th>导航名称</th>
							<th>导航地址</th>
							<th>排序</th>
							<th>操作</th>
						</tr>
						</thead>
						<tbody>
						<volist name="list" id="channel">
							<tr class="odd gradeX">
								<td><input class="checkboxes ids row-selected" type="checkbox" name="id[]" value="{$channel.id}"></td>
								<td>{$channel.id}</td>
								<td><a href="{:U('index?pid='.$channel['id'])}">{$channel.title}</a></td>
								<td>{$channel.url}</td>
								<td>{$channel.sort}</td>
								<td>
									<a title="编辑" href="{:U('edit?id='.$channel['id'].'&pid='.$pid)}">编辑</a>
									<a href="{:U('setStatus?ids='.$channel['id'].'&status='.abs(1-$channel['status']))}" class="ajax-get">{$channel.status|show_status_op}</a>
									<a class="confirm ajax-get" title="删除" href="{:U('del?id='.$channel['id'])}">删除</a>
								</td>
							</tr>
						</volist>
						</tbody>
					</table>

					<div class="page">
						{$_page}
					</div>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>


</block>

<block name="script">


	<script type="text/javascript">
		$(function() {

			createDataTable($('#dataTables-channel'))
			//新增
			$("#add-channel").click(function(){
				window.location.href = $(this).attr('url');
			})
			//点击排序
			$('.list_sort').click(function(){
				var url = $(this).attr('url');
				var ids = $('.ids:checked');
				var param = '';
				if(ids.length > 0){
					var str = new Array();
					ids.each(function(){
						str.push($(this).val());
					});
					param = str.join(',');
				}

				if(url != undefined && url != ''){
					window.location.href = url + '/ids/' + param;
				}
			});
		});
	</script>
</block>